/* Declaration of variables CSS */
:root {
    --colorUno: #FFFFFF;
    --colorDos: #00A8A8;
    --colorTres: #161E21;
    --fuentePrincipal: "Roboto", sans-serif;
}

/* General styles for the document HTML  */
html {
    background-color: var(--colorUno);
}

body{
    font-family: var(--fuentePrincipal);
}


/* Styles for containers */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

/* General styles for images */
img {
    max-width: 100%;
    display: block;
}


/* General styles for btn */
.button{
    display: block;
    background-color: var(--colorDos);
    padding: .8rem;
    color: white;
    border-radius: 1rem;
    transition: background-color 0.3s ease;  
}

.button:hover{
    background-color: var(--colorTres);
}

/* Code CSS for your project */

/*: Styles for Section Navbar */

.navbar__container {
    text-align: center;
    padding-top: 1rem;
}

@media (width >= 768px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
    }
}

.navbar__logo{
    color: var(--colorTres);
    cursor: pointer;
    margin: 0;
}
.navbar__logo--primary{
    color: var(--colorDos);
}

ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
ul li a{
    color: var(--colorTres);
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

ul li a:hover{
    text-decoration: underline;
    color: var(--colorDos);
}



/*: Styles for Main */

main{
    background-color: var(--colorTres);
}

.hero__text{
    text-align: center;
    font-size: 18px;
    color: var(--colorUno);
    padding: 1rem 0;
}

.hero__title--primary{
    color: var(--colorDos);
    text-transform: uppercase;
}


.hero__buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.hero__button--primary,
.hero__button--secondary {
    text-decoration: none;
    border: 2px solid var(--colorDos);
}


@media (width >= 768px) {
    .hero {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 35rem;
        margin-top: 1rem;
        gap: 2rem;
    }
    .hero__text{
        margin: 0;
    }
    .hero__title{
        font-size: 4rem;
        text-transform: uppercase;
    }
}


/*: Styles for Section Apps */
.mobile{
    text-align: center;
    margin-bottom: 3rem;
}

.mobile__description{
    font-size: 1rem;
    line-height: 1.5;
}

.mobile__buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.mobile__buttons:hover{
    cursor: pointer;
}

@media (width >= 768px) {
    .app {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .mobile__title{
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    
    .mobile__description{
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: justify;
    }
    .mobile{
        order: 2;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 45rem;
        margin: 0;
    }
}